# History files
.Rhistory
.Rapp.history

# Example code in package build process
*-Ex.R

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# Reports 
reports/*

# config files
config/*
*.dcf

# data
data/*

# figures
reports/figure/*
figures/*
*.png
